<form (submit)="validateUser()">
  <div *ngIf="!authenticate" class="container password-form">
    <h3>Ghanta App</h3>
    <div class="row">
        <md-input-container>
          <input mdInput placeholder="Enter username" name="username" [(ngModel)]="passwordModel.userName">
        </md-input-container>
        
    </div>
    <div class="row">
        <md-input-container>
            <input type="password" mdInput placeholder="Enter Password" name="password" [(ngModel)]="passwordModel.password">
          </md-input-container>
       
    </div>
    <div class="row">
      <span>Create Account</span>
      <button class="btn btn-success" (click)="validateUser()">Login</button>
    </div>   
  </div>
</form>

<app-roomatetabs *ngIf="authenticate"></app-roomatetabs>
