<div class="row">
   <div class="col-md-2">
        <md-input-container>
          <input type="text" mdInput name="username" [(ngModel)]="passwordModel.username" placeholder="Enter Username">
        </md-input-container>
        <md-input-container>
          <input type="password" mdInput name="password1" [(ngModel)]="passwordModel.password1" placeholder="Enter password">
        </md-input-container>
        <md-input-container>
          <input type="password" mdInput name="password2" [(ngModel)]="passwordModel.password2" placeholder="Renter password">
        </md-input-container>
        <button class="btn btn-success">Save</button>
        <button class="btn btn-danger">Cancel</button>
   </div>
   
</div>
